.info {
  margin-top: 1%;
}

.info2 {
  margin-top: 1%;
}

.pestañas {
  margin-top: 4%;
}

.segundaFila{
  margin-top: 2%;
}

body{
  background-color: #FBFBFB ;
}

.texto {
    text-align: justify;
}
